<%= form_tag sendgrid_index_path do %>
  <%= text_field_tag :email %>
  <%= submit_tag 'Send Test Email' %>
<% end %>

<hr />

<table>
  <tr>
    <th>Email</th>
    <th>Event</th>
    <th>Reason</th>
  </tr>
  <% @email_histories.each do |history| %>
  <tr>
    <td><%= history.email %></td>
    <td><%= history.event %></td>
    <td><%= history.reason %></td>
  </tr>
  <% end %>
</table>
