<dt>
  <dt>Referer:</dt>
  <dd><%= request.referer %></dd>
</dt>

<ul>
  <li><%= link_to '2nd Page', '/pages' %></li>
  <li><%= link_to '2nd Page with args', '/pages?test=test' %></li>
</ul>

<ul>
  <li><%= link_to 'Github', 'https://github.com/sumiki/referer-check', {target: '_blank'} %></li>
  <li><%= link_to 'Google Doc', 'https://docs.google.com/document/d/1WxxVCAGRxl_llSjnRvw6OkfSy3ud2Er7MAGp6mxvUnA/edit', {target: '_blank'} %></li>
  <li><%= link_to 'Dropbox Paper', 'https://paper.dropbox.com/doc/referer-check--AiZjfEkJgX5feFOHAn6pA7~FAg-cmmHm5OTZOHadc9skH5zD', {target: '_blank'} %></li>
</ul>
